
@{
    ViewBag.Title = "Login";
}



        
            @using (Html.BeginForm("SubmitLogin", "Account", FormMethod.Post, new { htmlAttributes = new { @class = "ui large form" } }))
            {
               
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="email" placeholder="E-mail address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="field">
                        <input type="submit" value="Login" class="ui fluid large teal submit button" />
                    </div>
                </div>
              
            }

