
@{
    ViewBag.Title = "Login";
}



        
            @using (Html.BeginForm("SubmitLogin", "Account", FormMethod.Post, new { htmlAttributes = new { @class = "ui large form" } }))
            {
                <div class="ui centered grid">
                    <div class="seven wide column">

                          <form class="ui large form">
                              <div class="ui segment">
                                  @if(ViewBag.Message == "Username or password is incorrect")
                                  {
                                      <div class="ui error message">
                                          Username or password is incorrect
                                      </div>
                                  }
                                <div class="field">
                                  <div class="ui fluid left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="Username" placeholder="Username">
                                  </div>
                                </div>
                                <div class="field">
                                  <div class="ui fluid left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="Password">
                                  </div>
                                </div>
                                  <br />
                                  <div class="ui fluid input">
                                      <input type="submit" value="Login" class="ui fluid large teal button" />
                                  </div>
                              </div>
                        </form>
                        
                    </div>
                </div>


            }

