@{
    ViewBag.Title = "RegisterStep4";
}

<h2>Register</h2>

<div class="ui success message">
    <div class="header">Registration is complete</div>
    <p>Now you can log in with your new account</p>
</div>


